.condition {
    margin: 20px auto;
    padding: 20px;
    border: solid 2px white;
    border-radius: 30px;
    max-width: 200%;
    display: block;
    background-color: rgb(12, 202, 240);
  }
  .air-conditions {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font: bold;
  }
  